body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 24px;
  color: #2d136e;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  opacity: 0.9;
}
li {
  font-size: 16px;
  list-style: none;
  color: #2d136e;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 8px 8px 4px lightblue;
}

.weather-app {
  padding: 20px;
  border: 1px solid #f5f0e7;
  border-radius: 9px;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}
.weather-temperature img {
  width: 74px;
  height: 74px;
  margin-right: 10px;
}
.weather-temperature strong {
  font-weight: 400;
  font-size: 50px;
  color: #2d136e;
}
.weather-temperature .units {
  position: relative;
  top: -26px;
}
.weather-temperature .link {
  text-decoration: none;
}
.weather-temperature .active {
  color: #2d136e;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin: 20px;
  text-align: center;
  color: #2d136e;
}
.weather-forecast-date {
  font-size: 15px;
  color: #2d136e;
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-min {
  opacity: 0.8;
}
.code {
  color: #2d136e;
  opacity: 0.7;
}
